@model bootStrap.ViewModels.ViewModel

@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1>TIY Sports</h1>
            <p>♥ For the students of The Iron Yard</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle" src="/Images/sports.jpg" alt="Sports" height="200" width="200" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 thumbnail">
        <a href="">
            <img class="img-responsive" src="/Images/football.jpg" alt="Football" />
            <p><center><strong>Football</strong></center></p>
        </a>
    </div>
    <div class="col-md-3 thumbnail">
        <a href="">
            <img class="img-responsive" src="/Images/baseball.jpg" alt="Baseball" />
            <p><center><strong>Baseball</strong></center></p>
        </a>
    </div>
    <div class="col-md-3 thumbnail">
        <a href="">
            <img class="img-responsive" src="/Images/basketball.jpg" alt="Basketball" />
            <p><center><strong>Basketball</strong></center></p>
        </a>
    </div>
    <div class="col-md-3 thumbnail">
        <a href="">
            <img class="img-responsive" src="/Images/quidditch.jpg" alt="Quidditch" />
            <p><center><strong>Quidditch</strong></center></p>
        </a>
    </div>
</div>
<p></p>
<p></p>
<div class="alert alert-warning">
    <p>We've added some brand new features in version 2.0!</p><h6>Learn More</h6>
</div>

<div class="well">
    <div class="col-md-6">
        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Please LOG IN to edit<h6>Learn More</h6></p>
        <p></p>
    </div>
    <div class="col-md-offset-11">
        <button type="button" class="btn btn-primary btn-sm">Facebook</button>
    </div>
    <p></p>
    <p></p>
</div>


<div class="panel panel-primary">
    <div class="panel panel-heading">
        <div class="col-md-3">
            <h4><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> Teams</h4>
            <p></p>
            <p></p>
            <p> </p>
        </div>
        <div class="col-md-offset-11">
            <span class="badge">317 Teams</span>
        </div>
    </div>
    @foreach (var team in Model.Teams)
    {
        <div class="panel panel-body">
            <div class="img-responsive col-md-1">
                <img class="img-rounded" src="/Images/dartboard.png" alt="Basketball" height="40 " width="40" />
            </div>
            <div class="col-md-11">
                <div class="col-md-6">
                    <h4>@team.Name</h4>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien est, rhoncus nec pretium sed, tincidunt quis tellus.</h6>
                </div>
                <div class="col-md-offset-11">
                    <span class="badge">8 Players</span>
                </div>
            </div>
        </div>
    }
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Games</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Score</th>
            </tr>
        </thead>
        <tr class="success">
            <td>1</td>
            <td>Tampa Dart Dynamos</td>
            <td>Buffalo BullsEyes</td>
            <td>20-17</td>
        </tr>
        <tr>
            <td>2</td>
            <td>St Pee Ping Pong Power House</td>
            <td>Philly Paddlers</td>
            <td>18-12</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Orlando Golf Gang</td>
            <td>Portland Putters</td>
            <td>2-1</td>
        </tr>
    </table>

</div>

