@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1>TIY Sports</h1>
            <p>♥ For the students of The Iron Yard</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle" src="/Images/sports.jpg" alt="Sports" height="200" width="200"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 thumbnail">
        <img class="img-responsive" src="/Images/football.jpg" alt="Football" />
        <p><center><strong>Football</strong></center></p>
    </div>
    <div class="col-md-3 thumbnail">
        <img  class="img-responsive" src="/Images/baseball.jpg" alt="Baseball" />
        <p><center><strong>Baseball</strong></center></p>
    </div>
    <div class="col-md-3 thumbnail">
        <img  class="img-responsive" src="/Images/basketball.jpg" alt="Basketball" />
        <p><center><strong>Basketball</strong></center></p>
    </div>
    <div class="col-md-3 thumbnail">
        <img  class="img-responsive" src="/Images/quidditch.jpg" alt="Quidditch" />
        <p><center><strong>Quidditch</strong></center></p>
    </div>
</div>
<p></p>
<p></p>
<div class="alert alert-warning">
    <p>We've added some brand new features in version 2.0!</p><h6>Learn More</h6>
</div>

<div class="well">
    <div class="col-md-2">
        <p>Please LOG IN to edit</p>
        <h6>Learn More</h6>
    </div>
    <div class="col-md-offset-11">
        <button type="button" class="btn btn-primary btn-sm">Facebook</button>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel panel-primary panel-heading">
        <p>Teams</p>
    </div>
    <div class="panel panel-body">
        <p>Tampa Dart Dynamos</p>
    </div>
    <div class="panel panel-body">
        <p>St Pete Ping Pong Power House</p>
    </div>
    <div class="panel panel-body">
        <p>Orlando Golf Gang</p>
    </div>
    <div class="panel panel-footer">
        <p>1-2-3-4-5-6</p>
    </div>
</div>

