@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <h1>TIY Sports</h1>
            <p>♥ For the students of The Iron Yard</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle" src="/Images/sports.jpg" alt="Sports" height="200" width="200"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="/Images/football.jpg" alt="Football" />
    </div>
    <div class="col-md-3">
        <img src="/Images/baseball.jpg" alt="Baseball" />
    </div>
    <div class="col-md-3">
        <img src="/Images/basketball.jpg" alt="Basketball" />
    </div>
    <div class="col-md-3">
        <img src="/Images/quidditch.jpg" alt="Quidditch" />
    </div>
</div>
